:root{
      --var-hh: 10vh;
}

/*header styles*/
header {
      background-color: rgba(255, 255, 255, 0.829);
      min-height: var(--var-hh);
      backdrop-filter: blur(5px);
}

.nav-content {
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: space-around;
}

main {
      padding: 0;
      margin: 0;
}

section {
      border: 1px solid rgb(7, 129, 54);
      margin-top: 10vh;
}

.carousel-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45%;
      /* Adjust the width as needed */
      height: 50%;
      /* Adjust the height as needed */
      backdrop-filter: blur(5px);
      z-index: 1;
      border-radius: 15px;
      /* Add rounded borders */
      display: flex;
      align-items: center;
      justify-content: center;
      padding: auto;

      color: green;
}

/* Media query for smartphone devices */
@media (max-width: 768px) {
      .carousel-overlay {
            width: 65%;
            /* Adjust the width for smaller screens */
            height: 60%;
            /* Adjust the height for smaller screens */
            border-radius: 5px;
            /* Adjust the border radius for smaller screens */
            padding: 10px;
            /* Add some padding for smaller screens */
      }
}

.overlay-text {
      color: white;
      font-size: 1rem;
      text-align: center;
}

a:visited {
      color: blue;
}


.card-container {
      justify-content: space-between;
      margin-top: 20px;
}

.card {
      text-align: center;
      padding: 20px;
}

.card img {
      max-width: 100%;
      height: auto;
}